@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: ##f28c28;
  --font-primary: "IBM Plex Mono", monospace;
  --color-shade-1: #030712;
  --color-shade-2: #1e2939;
  --color-light-1: #fafaf9;
  --color-light-2: #f3f4f6;
}

html {
  font-family: var(--font-primary);
}

body {
  @apply bg-shade-1 min-h-[100dvh] bg-gradient-to-b from-gray-50 to-gray-50 bg-no-repeat text-black dark:from-gray-900/80 dark:to-gray-950/65 dark:text-white;
}
